[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackbot = "==0.5.4"
"boto3" = "==1.10.16"
pandas = "*"
flask = "==1.1.2"
slackeventsapi = "==2.2.1"
slackclient = "==2.8.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python run.py"
