[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "==1.10.16"
pandas = "==1.1.1"
flask = "==1.1.2"
slackeventsapi = "==2.2.1"
slackclient = "==2.8.0"
ibm-watson = "==4.5.0"
ibm-cos-sdk = "==2.7.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python run.py"
